  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
  }
  
  :root {
    font-size: 62.5%;
  }
  
  html, body, input, header, footer {
    font-family: "Mulish", sans-serif;
  }  

  #blog {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
  }

  .container {
    padding: 1.6rem 3.2rem;
    width: 43rem;
    margin: 0 auto;
  }

  header {
    background-color: #065E7C;

    display: flex;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    padding: 1.6rem 2.8rem ;
  }

  header form {
    flex: 1;
  }

  .input-wrapper label {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
  }

  .input-wrapper input {
    width: 100%;
    padding: 1.6rem;

    background-color: white;
    border: 0;
    border-radius: .4rem;
    
    font-size: 1.6rem;
    font-weight: 500;
  }
  
  .input-wrapper input::placeholder {
    opacity: 0.80;
  }

  .gato {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main {
    max-width: 38.2rem;
    margin: 0 auto;
  
  }
  
  main h1 {
    font-size: 2.4rem;
    line-height: 160%;
  }
  
  .button {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    
    padding-top: .8rem;
  }
  
  main button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 4.0rem;
    height: 4.0rem;
  }
  
  main p {
    font-size: 1.6rem;
    padding-top: 3.2rem;
    padding-bottom: 3.4rem;
  }

  
  h2 {
    display: flex;
    font-size: 2.4rem;
    line-height: 160%;
    text-align: center;
  }
  
  sidebar {
    width: 38.2rem;
    margin: 0 auto;
    padding-bottom: 3.2rem;
  }
  
  sidebar .container {
    width: 38.2rem;
    display: flex;
    gap: 1.6rem;
    padding: .8rem 0;
    align-items: center;
  }
  
  sidebar img {
    width: 15.1rem;
    height: 8.4rem;
  }
  
  .text h3 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 160%;
  }
  
  .text p {
    font-size: 1.4rem;
    color: #121214;
  }
  
  footer {
    width: 43rem;
    background-color: #065E7C;
  }

  footer p {
    text-align: center;
    font-size: 1.6rem;
    color: white;
  }

  @media (min-width: 770px) {
    #blog {
      max-width: 100%;
      display: grid;
      grid-template-areas: 
      "header header header"
      "main main sidebar"
      "footer footer footer";
    }

    #blog header {
      width: 100%;
      grid-area: header;
      padding: 1.6rem 11.2rem;
    }

    #blog main {
      grid-area: main;
      max-width: 80.3rem;
    }

    #blog .h1button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 3.1rem;
    }

    #blog .gato img {
      width: 80.3rem;
      height: 40.5rem;
      padding-top: 4.4rem;
    }

    #blog sidebar { 
      grid-area: sidebar;

      display: flex;
      padding-right: 11rem;
      padding-top: 3.1rem;
      flex-direction: row-reverse;
    }

    #blog footer {
      grid-area: footer;
      width: 100%;
    }
  }